html {
  background-color: #fff;
}

<<<<<<< HEAD
body {
  text-align: center;
  padding-top: 10%;
=======
body
{
	text-align:center;
	padding-top: 10%;
	overflow: auto;
>>>>>>> 8500fcdccaa10b5099ac20d252af3a7c560046f1
}

#SlicerIcon {
}

#Title {
  height: 20mm;
  line-height: 20mm;
  font-size: 6mm;
  color: #0085ff;
}

#STip {
  padding: 0mm 20mm;
  height: 15%;
}

#BtnArea {
  align-items: center;
}

<<<<<<< HEAD
#StartBtn {
  display: inline-block;
  text-decoration: none;
=======
#StartBtn
{
	display: inline-block;
    text-decoration:none;	
>>>>>>> 8500fcdccaa10b5099ac20d252af3a7c560046f1
}
